/* Add component styles here */

p {
  color: red;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 5px;
}

.edit-form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--light);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 20px;
  color: var(--dark);
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  color: var(--dark);
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--secondary);
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  background-color: var(--warning);
  color: var(--dark);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: darken(var(--warning), 10%);
}
