/* Add component styles here */

p {
  color: blue;
  font-size: 16px;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--light);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  color: var(--dark);
  text-align: center;
  margin-bottom: 20px;
}

.form-label {
  font-weight: 500;
  color: var(--dark);
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--secondary);
  border-radius: 4px;
  font-size: 16px;
}

button {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: var(--primary);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  // background-color: darken(var(--primary), 10%);
  background-color: var(--primary-dark);
  
}
button:disabled {
  background-color: var(--secondary);
  cursor: not-allowed;
} 